@font-face {
  font-family: Jura;
  src : url("../fonts/Jura/Jura-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Jura;
  src : url("../fonts/Jura/Jura-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Jura;
  src : url("../fonts/Jura/Jura-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Jura;
  src : url("../fonts/Jura/Jura-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Jura;
  src : url("../fonts/Jura/Jura-Light.ttf");
  font-weight: 300;
}